*{ 
box-sizing: border-box;
padding: 0;
margin: 0;
font-family: 'poppins', sans-serif;
font-size: 18px;
}
body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    width: 500px;
    padding: 30px;
    border: 1px solid #eeeeee;
    border-radius: 10px;
    background-color: #000000;
}
h4{
    margin-bottom: 10px;
    font-size: 24px;
    color: white;
}
input{
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}
textarea{
    width: 100%;
    padding: 10px;
}
#enviar{
    border: none;
    background-color: yellow;
    color: black;
    width: 200px;
    margin-top: 10px;
    border-radius: 5px;
}
#enviar:hover{
    background-color: #333333;

}
.password-container {
    position: relative;
    width: 100%;
}

.password-container input {
    width: 100%;
    padding-right: 40px; /* Espaço para o ícone não ficar em cima do texto */
    box-sizing: border-box;
}

.toggle-password {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 18px;
    color: #666;
    user-select: none; /* Impede seleção de texto ao clicar */
}

.toggle-password:hover {
    color: #000;
}